<h1 style="text-align: center;">検索履歴</h1>


<table class="table">

   <thead>
    <tr>
      <th></th>
      <th>検索範囲</th>
      <th>キーワード</th>
      <th>タイトル</th>
      <th>投稿日</th>
      <th>ユーザーID</th>
      <th>ユーザー名</th>
      <th>内容</th>
      <th>所在地</th>
    </tr>
  </thead>

<% num = 0 %>
<% @crawls.each do |crawl| %>
<% num += 1 %>

<% if crawl.method == 1 %>
  <tbody>
    <tr>
      <th scope="row"><%= num %></th>
      <td><%= link_to "Google", crawl %></td>
      <td><%= link_to "#{crawl.keyword}", crawl %></td>
      <td><%= link_to "#{crawl.title.truncate(20)}", crawl %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
<% end %>

<% if crawl.method == 2 %>
  <tbody>
    <tr>
        <th scope="row"><%= num %></th>
        <td><%= link_to "Twitter", crawl %></td>
        <td><%= link_to "#{crawl.keyword}", crawl %></td>
        <td></td>
        <td><%= link_to "#{crawl.date}", crawl %></td>
        <td><%= link_to "#{crawl.user_id}", crawl %></td>
        <td><%= link_to "#{crawl.name}", crawl %></td>
        <td><%= link_to "#{crawl.text}", crawl %></td>
        <td><%= link_to "#{crawl.geo}", crawl %></td>
    </tr>
  </tbody>
<% end %>

<% end %>
</table>


<div class="page-n"><%= paginate @crawls %></div>
